In [1]:
import  pandas as pd
import numpy as np 
import os 
import sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from database.db_config import Connection

In [2]:
db= Connection()
db.connect()

✅ Connected to the database

In [ ]:
LEFT JOIN(
SELECT 
DATE(timestamp) as date,
stock_symbol,
AVG(close) as avg_closing_intraday,
STDDEV(close) as intraday_volatility
FROM stock_prices_intraday

GROUP BY stock_symbol, DATE(timestamp)
) i

ON d.stock_symbol= i.stock_symbol AND d.timestamp ::DATE = i.date



 i.avg_closing_intraday, i.intraday_volatility,

In [31]:
query = """

Select 
    d.stock_symbol, d.timestamp, d.open,d.high, d.low,d.close,d.volume,
    


    d.close- LAG(d.close) OVER(PARTITION BY d.stock_symbol ORDER BY d.timestamp)/
    LAG(d.close) OVER(PARTITION BY d.stock_symbol ORDER BY d.timestamp) AS daily_return,

    AVG(d.close) OVER(PARTITION BY d.stock_symbol ORDER BY d.timestamp ROWS BETWEEN 4 PRECEDING AND CURRENT ROW) AS ma_5,
    AVG(d.close) OVER (PARTITION BY d.stock_symbol ORDER BY d.timestamp ROWS BETWEEN 9 PRECEDING AND CURRENT ROW) AS ma_10,
    AVG(d.close) OVER (PARTITION BY d.stock_symbol ORDER BY d.timestamp ROWS BETWEEN 49 PRECEDING AND  CURRENT ROW) AS ma_50

    


FROM  stock_prices_daily d



"""

In [64]:
query2= """

SELECT 
    stock_symbol,
    AVG(close) as avg_closing_intraday,
    STDDEV(close) as intraday_volatility
    

FROM stock_prices_intraday 


ORDER BY stock_symbol;


"""

In [43]:
db.connect()

fetc_query= " select * from stock_prices_intraday;"
data=db.fetch(fetc_query)

pd_data=pd.DataFrame(data, columns=['stock_symbol', 'timestamp', 'open','high', 'low','close','volume'])

import numpy as np

cl_col=pd_data['close']

kk=np.std(cl_col)

print(kk)

✅ Connected to the database
0.4185793899978826

In [70]:
# query= 'Select * from stock_prices_daily;'
db.connect()

data=db.fetch(query3)

df=pd.DataFrame(data, columns=['stock_symbol','timestamp','closing_avg', 'std_closing'])

print(df)

# print(df )
#','daily_return','avg_closing_intraday','intraday_volatility'
# df=pd.DataFrame(data, columns=['stock_symbol','timestamp','open','high','low','close','volume','ma_5','ma_10','ma_50','daily_return'])

# df=pd.DataFrame(data, columns=['stock_symbol','timestamp','open','high','low','close','volume','ma_5','ma_10','ma_50', 'daily_return','avg_closing_intraday','intraday_volatility'])

✅ Connected to the database
   stock_symbol                 timestamp  closing_avg std_closing
0           IBM 2025-01-31 11:40:00+05:00       255.14        None
1           IBM 2025-01-31 11:45:00+05:00       254.92        None
2           IBM 2025-01-31 11:50:00+05:00       254.97        None
3           IBM 2025-01-31 11:55:00+05:00       254.93        None
4           IBM 2025-01-31 12:00:00+05:00       255.06        None
..          ...                       ...          ...         ...
95          IBM 2025-01-31 19:35:00+05:00       255.60        None
96          IBM 2025-01-31 19:40:00+05:00       255.62        None
97          IBM 2025-01-31 19:45:00+05:00       255.43        None
98          IBM 2025-01-31 19:50:00+05:00       255.35        None
99          IBM 2025-01-31 19:55:00+05:00       255.10        None

[100 rows x 4 columns]

np.int64(100)

In [33]:
df.head(10)

,stock_symbol,timestamp,open,high,low,close,volume,ma_5,ma_10,ma_50,daily_return
0,IBM,1999-11-01 00:00:00+05:00,98.50,98.81,96.37,96.75,9551800,NaN,96.7500,96.750000,96.750000
1,IBM,1999-11-02 00:00:00+05:00,96.75,96.81,93.69,94.81,11105400,93.81,95.7800,95.780000,95.780000
2,IBM,1999-11-03 00:00:00+05:00,95.87,95.94,93.50,94.37,10369100,93.37,95.3100,95.310000,95.310000
3,IBM,1999-11-04 00:00:00+05:00,94.44,94.44,90.00,91.56,16697600,90.56,94.3725,94.372500,94.372500
4,IBM,1999-11-05 00:00:00+05:00,92.75,92.94,90.19,90.25,13737600,89.25,93.5480,93.548000,93.548000
5,IBM,1999-11-08 00:00:00+05:00,90.50,93.94,90.50,93.94,8522300,92.94,92.9860,93.613333,93.613333
6,IBM,1999-11-09 00:00:00+05:00,95.06,95.50,92.12,93.62,9551200,92.62,92.7480,93.614286,93.614286
7,IBM,1999-11-10 00:00:00+05:00,94.62,97.06,94.12,97.00,8680300,96.00,93.2740,94.037500,94.037500
8,IBM,1999-11-11 00:00:00+05:00,97.50,97.50,94.87,95.00,7147500,94.00,93.9620,94.144444,94.144444
9,IBM,1999-11-12 00:00:00+05:00,96.00,96.25,93.00,95.87,9668400,94.87,95.0860,94.317000,94.317000

In [17]:
query = """
ALTER TABLE stock_prices_daily
ADD COLUMN ma_5 FLOAT,
ADD COLUMN ma_10 FLOAT,
ADD COLUMN ma_50 FLOAT,
ADD COLUMN daily_return FLOAT,
ADD COLUMN avg_closing_intraday FLOAT,
ADD COLUMN intraday_volatility FLOAT;
"""

In [19]:
db = Connection()
db.connect()

data=db.execute(query,params=None)

✅ Connected to the database
❌ Error executing query: column "ma_5" of relation "stock_prices_daily" already exists

In [29]:
query= 'Select * from stock_prices_daily;'

db.connect()

data=db.fetch(query)


df=pd.DataFrame(data, columns=['stock_symbol','timestamp','open','high','low','close','volume','ma_5','ma_10','ma_50', 'daily_return','avg_closing_intraday','intraday_volatility'])

print(df.head(10) )

✅ Connected to the database
  stock_symbol                  timestamp     open      high       low  \
0          IBM  2025-01-31 00:00:00+05:00  256.050  257.2350  251.8900
1          IBM  2025-01-30 00:00:00+05:00  250.000  261.8000  247.0100
2          IBM  2025-01-29 00:00:00+05:00  225.620  229.4700  223.7300
3          IBM  2025-01-28 00:00:00+05:00  224.320  225.7700  221.7700
4          IBM  2025-01-27 00:00:00+05:00  222.190  224.3000  219.8400
5          IBM  2025-01-24 00:00:00+05:00  225.270  226.8104  223.8000
6          IBM  2025-01-23 00:00:00+05:00  223.940  226.0400  223.1500
7          IBM  2025-01-22 00:00:00+05:00  221.980  224.4000  220.3500
8          IBM  2025-01-21 00:00:00+05:00  224.990  227.4500  222.8302
9          IBM  2025-01-17 00:00:00+05:00  225.955  225.9550  223.6400

    close    volume  ma_5 ma_10 ma_50 daily_return avg_closing_intraday  \
0  255.70   7203519  None  None  None         None                 None
1  258.27  15381890  None  None  None         None                 None
2  228.63   7079804  None  None  None         None                 None
3  225.66   4485429  None  None  None         None                 None
4  224.13   4898355  None  None  None         None                 None
5  224.80   3233293  None  None  None         None                 None
6  226.04   3619651  None  None  None         None                 None
7  223.26   4759490  None  None  None         None                 None
8  224.26   3982203  None  None  None         None                 None
9  224.79   5506837  None  None  None         None                 None

  intraday_volatility
0                None
1                None
2                None
3                None
4                None
5                None
6                None
7                None
8                None
9                None